<section aria-label="Trending Series Section" class="mt-16">
  <div class="flex items-center justify-between gap-2.5">
    <!--============== TITLE ==============-->
    <app-section-title title="Trending Series" />

    <div class="flex items-center gap-3">
      <!--============== VIEW ALL BUTTON ==============-->
      <button
        class="inline-flex items-center text-white sm:text-lg gap-2 group"
        [routerLink]="['/series']"
      >
        View All

        <!-- Icon -->
        <lucide-angular
          [img]="ArrowRight"
          aria-label="View All"
          aria-hidden="true"
          class="stroke-[#e7bc0f] transition-transform duration-200 ease-in-out group-hover:translate-x-0.5"
          size="22"
        ></lucide-angular>
      </button>

      <!--============== ARROWS ==============-->
      <div class="hidden sm:flex items-center gap-2.5">
        <!-- Scroll Left Arrow -->
        <button
          class="grid place-items-center p-1.5 text-white rounded-lg border border-neutral-500 transition-colors duration-300 hover:bg-neutral-800"
          aria-label="Scroll to left"
          (click)="scrollToLeft()"
        >
          <lucide-angular
            [img]="ArrowLeft"
            aria-label="Previous"
            aria-hidden="true"
            size="22"
          ></lucide-angular>
        </button>

        <!-- Scroll Right Arrow -->
        <button
          class="grid place-items-center p-1.5 text-white rounded-lg border border-neutral-500 transition-colors duration-300 hover:bg-neutral-800"
          aria-label="Scroll to right"
          (click)="scrollToRight()"
        >
          <lucide-angular
            [img]="ArrowRight"
            aria-label="Next"
            aria-hidden="true"
            size="22"
          ></lucide-angular>
        </button>
      </div>
    </div>
  </div>

  <!--============== TRENDING SERIES ==============-->
  <ul
    class="slider mt-5 scrollbar-hidden"
    role="Trending Series Slider"
    aria-label="Trending Series Slider"
    aria-orientation="horizontal"
    aria-live="polite"
    #seriesSlider
  >
    <!--============== LOADING STATE ==============-->
    @if (!errorState() && isLoading()) { @for (skeleton of limit; track $index)
    {
    <app-skeleton-card />
    } }

    <!--============== MOVIES SLIDER ==============-->
    @if (!errorState() && !isLoading() && trendingSeries().length > 1) { @for
    (series of trendingSeries(); track series.id) {
    <app-series-card [series]="series" />
    } }
  </ul>
</section>
