<section aria-label="Genres Section" class="my-12">
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-between gap-2.5">
      <!-- Title -->
      <app-section-title title="Genres" />

      <!-- Arrows -->
      <div class="flex items-center gap-2.5">
        <!-- Scroll Left Arrow -->
        <button
          class="arrow-btn"
          aria-label="Scroll to left"
          (click)="scrollToLeft()"
        >
          <lucide-angular
            [img]="ArrowLeft"
            aria-label="Previous"
            aria-hidden="true"
            size="22"
          ></lucide-angular>
        </button>

        <!-- Scroll Right Arrow -->
        <button
          class="arrow-btn"
          aria-label="Scroll to right"
          (click)="scrollToRight()"
        >
          <lucide-angular
            [img]="ArrowRight"
            aria-label="Next"
            aria-hidden="true"
            size="22"
          ></lucide-angular>
        </button>
      </div>
    </div>

    <!-- Genres -->
    <ul
      class="genres-slider scrollbar-hidden"
      role="slider"
      aria-label="Genres Slider"
      aria-orientation="horizontal"
      #genresSlider
    >
      @for (genre of genres; track genre.id) {
      <li
        class="genre-item"
        [ngClass]="selectedGenre() === genre.id ? 'bg-primary-50 text-dark-90' : 'bg-transparent text-neutral-300'"
        (click)="selectedGenre.set(genre.id)"
        role="option"
        [attr.aria-selected]="selectedGenre() === genre.id"
      >
        {{ genre.name }}
      </li>
      }
    </ul>

    <!-- Series -->
    <ul #seriesSlider class="slider mt-2 scrollbar-hidden">
      <!-- Series Card -->
      @for (series of genreSeries(); track series.id) {
      <app-series-card [series]="series" />
      }
    </ul>
  </div>
</section>
