<section aria-label="Recommended Movies" class="mt-8">
  <div class="flex items-center justify-between gap-2.5">
    <!-- Title -->
    <app-section-title title="Trending Movies" />

    <div class="flex items-center gap-3">
      <!-- View All Button -->
      <button
        class="inline-flex items-center text-white sm:text-lg gap-2 group"
      >
        View All

        <!-- Icon -->
        <lucide-angular
          [img]="ArrowRight"
          aria-label="View All"
          aria-hidden="true"
          class="stroke-[#e7bc0f] transition-transform duration-200 ease-in-out group-hover:translate-x-0.5"
          size="22"
        ></lucide-angular>
      </button>

      <!-- Arrows -->
      <div class="hidden sm:flex items-center gap-2.5">
        <!-- Scroll Left Arrow -->
        <button
          class="grid place-items-center p-1.5 text-white rounded-lg border border-neutral-500 transition-colors duration-300 hover:bg-neutral-800"
          aria-label="Scroll to left"
          (click)="scrollToLeft()"
        >
          <lucide-angular
            [img]="ArrowLeft"
            aria-label="Previous"
            aria-hidden="true"
            size="22"
          ></lucide-angular>
        </button>

        <!-- Scroll Right Arrow -->
        <button
          class="grid place-items-center p-1.5 text-white rounded-lg border border-neutral-500 transition-colors duration-300 hover:bg-neutral-800"
          aria-label="Scroll to right"
          (click)="scrollToRight()"
        >
          <lucide-angular
            [img]="ArrowRight"
            aria-label="Next"
            aria-hidden="true"
            size="22"
          ></lucide-angular>
        </button>
      </div>
    </div>
  </div>

  <!-- Movies -->
  <ul
    #moviesSlider
    class="flex w-full items-center mt-5 gap-3 overflow-x-scroll scroll-smooth snap-x snap-mandatory scrollbar-hidden"
  >
    <!-- Movie Card -->
    @for (movie of trendingMovies(); track movie.id) {
    <app-movie-card [movie]="movie" />
    }
  </ul>
</section>
