<header
  class="flex items-center top-0 left-0 w-full py-4.5 z-50 bg-transparent"
>
  <div class="flex items-center justify-between w-full gap-5">
    <!--============== LOGO ==============-->
    <app-logo class="md:hidden" />

    <!--============== OPEN SIDEBAR BUTTON & DESKTOP NAVBAR ==============-->
    <div class="flex items-center gap-5">
      <!--============== OPEN SIDEBAR ==============-->
      @if (!isSidebarOpen()) {
      <button
        class="grid place-items-center p-1.5 rounded-lg border border-dark-60 transition-colors duration-300 hover:bg-dark-80"
        aria-label="Open Sidebar"
        (click)="onSidebarOpen()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#e7bc0f"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-chevron-left-icon lucide-chevron-left transition-transform duration-300 ease-in-out hover:-translate-x-1"
        >
          <path d="m15 18-6-6 6-6" />
        </svg>
      </button>
      }

      <!--============== DESKTOP NAVBAR ==============-->
      <app-navbar />
    </div>
  </div>

  <!--============== HEADER ACTIONS ==============-->
  <div class="flex items-center gap-2.5 md:gap-3">
    <!-- Desktop Searchbar -->
    <app-desktop-searchbar />

    <!-- Search Button -->
    <button class="header-action" aria-label="Toggle Searchbar">
      <lucide-angular
        [img]="Search"
        aria-label="Search"
        aria-hidden="true"
        size="22"
      ></lucide-angular>
    </button>

    <!-- Menu Button -->
    <button
      class="header-action"
      aria-label="Open Mobile Menu"
      (click)="openMobileMenu()"
    >
      <lucide-angular
        [img]="Menu"
        aria-label="Menu"
        aria-hidden="true"
        size="22"
      ></lucide-angular>
    </button>

    <!-- Login Button -->
    <button
      class="header-action-login"
      routerLink="/login"
      aria-label="Go to Login Page"
    >
      <lucide-angular
        [img]="LogIn"
        aria-label="Login"
        aria-hidden="true"
        color="#e7bc0f"
        size="22"
      ></lucide-angular>
    </button>
  </div>

  <!--============== MOBILE MENU COMPONENT ==============-->
  <app-mobile-menu
    [isMobileMenuOpen]="isMobileMenuOpen()"
    (closeMobileMenu)="openMobileMenu()"
  />
</header>
