@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary-10: #faf1cf;
  --color-primary-20: #f5e49f;
  --color-primary-30: #f0d66f;
  --color-primary-40: #ebc93f;
  --color-primary-50: #e7bc0f;
  --color-primary-60: #b8960c;
  --color-rimary-70: #8a7009;
  --color-primary-80: #5c4b05;
  --color-primary-90: #2e2502;

  /* Neutral Colors */
  --white: #ffffff;
  --color-dark-10: #f2f2f2;
  --color-dark-20: #cccccc;
  --color-dark-30: #b2b2b2;
  --color-dark-40: #999999;
  --color-dark-50: #808080;
  --color-dark-60: #666666;
  --color-dark-70: #4c4c4c;
  --color-dark-80: #333333;
  --color-dark-90: #1a1a1a;
  --color-dark-100: #000000;

  /* Semantic Colors */
  --success: #27c237;
  --info: #275bc2;
  --warning: #eb8509;
  --error: #f64e34;

  /* Typography */
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Pacifico", cursive;
}

@layer base {
  body {
    @apply font-primary bg-dark-90 text-neutral-100 overflow-x-hidden antialiased;
  }

  html {
    @apply scroll-smooth;
  }

  a {
    @apply decoration-0;
  }

  ul {
    @apply list-none;
  }

  img {
    @apply h-auto w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-secondary;
  }

  button {
    @apply cursor-pointer;
  }

  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-dark-80;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-50 focus-within:bg-primary-60;
  }
}

/* Scroll X Scrollbar */
.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* before:content-[\'\'] is in the template 'cause content-[''] is a dynamic value. */
.sidebar {
  @apply hidden md:flex top-0 left-0 flex-col w-[200px] max-w-[200px] p-5 border-l border-r border-b rounded-b-lg border-neutral-400 overflow-x-clip;
}

.active-item {
  @apply relative before:w-3.5 before:h-8 before:bg-amber-300 before:absolute before:top-1/2 before:-translate-y-1/2 before:-left-7 before:rounded-sm;
}

.genres-slider {
  @apply flex items-center gap-2.5 my-2 w-full overflow-x-scroll scroll-smooth snap-x snap-mandatory;
}

.genre-item {
  @apply inline-flex shrink-0 line-clamp-1 px-2 py-0.5 rounded-lg text-lg xl:text-xl cursor-pointer transition-colors duration-300 ease-in-out hover:bg-primary-60 hover:text-dark-90;
}

.slider {
  @apply flex w-full items-center gap-3 overflow-x-scroll scroll-smooth snap-x snap-mandatory;
}

.arrow-btn {
  @apply grid place-items-center p-1.5 text-white rounded-lg border border-neutral-500 transition-colors duration-300 hover:bg-neutral-800;
}

.header-action {
  @apply grid sm:hidden place-items-center p-1.5 text-white rounded-lg border border-neutral-500 transition-colors duration-300 hover:bg-neutral-800;
}

.header-action-login {
  @apply grid place-items-center p-1.5 text-white rounded-lg border border-neutral-500 transition-colors duration-300 hover:bg-neutral-800;
}
